li {
  list-style-type: none;
  display: inline-flex;
  margin: calc(1px * var(--pxDensity));
  margin-bottom: calc(2px * var(--pxDensity));
}

.navBar {
  background-color: var(--navBar_Inner);
  box-shadow: calc(1px * var(--pxDensity)) 0px var(--navBar_Border),
              calc(-1px * var(--pxDensity)) 0px var(--navBar_Border),
              0px calc(1px * var(--pxDensity)) var(--navBar_Border),
              0px calc(-1px * var(--pxDensity)) var(--navBar_Border);

  filter: drop-shadow(0px calc(2px * var(--pxDensity)) rgba(0, 0, 0, 0.5));
  padding: 0%;
  display: inline;
  position: absolute;
  top: round(calc(100% - calc(5px * var(--pxDensity))), var(--pxDensityPx));
  left: round(50%, var(--pxDensityPx));
  transform: translate(-50%, -100%);
  font-size: 0px;
  width: max-content;
}
.navBtn {
  background-color: transparent;
  display: inline-flex;
  padding: 0%;
  border: none;
  filter: drop-shadow(0px calc(1px * var(--pxDensity)) rgba(0, 0, 0, 0.5));
}
.navBtn:hover {
  filter: brightness(1.35)  drop-shadow(0px calc(1px * var(--pxDensity)) rgba(0, 0, 0, 0.5));
  cursor: pointer;
}
.navBtn:active {
  filter: brightness(0.75);
  transform: translateY(calc(1px * var(--pxDensity)));
}
.navBtnImg {
  width: calc(12px * var(--pxDensity));
  height: calc(12px * var(--pxDensity));
  image-rendering: pixelated;
  margin: 0%;
}
.navBtnIcon {
  width: calc(8px * var(--pxDensity));
  height: calc(8px * var(--pxDensity));
  image-rendering: pixelated;
  position: absolute;
  margin: calc(2px * var(--pxDensity));
}