:root {
  --navBar_Inner: #43608D;
  --navBar_Border: #2F3E56;
  --navBarBtn_Inner: #474747;
  --navBarBtn_Border: #232323;
  --pxDensity: 1;
  --pxDensityPx: 1px;
  --bottomPxMargin: 1px;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

canvas {
  position: absolute;
}

.pxFont {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

@keyframes slide-left {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}