:root {
  --navBar_Inner: #43608D;
  --navBar_Border: #2F3E56;
  --navBarBtn_Inner: #474747;
  --navBarBtn_Border: #232323;
  --pxDensity: 1;
  --pxDensityPx: 1px;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.pxFont {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}