html {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

body {
  height: 100vh;
  background-color: #323232;
  color: #ffffff;
  overflow: hidden;
  margin: 0%;
  width: 100vw;
  height: 100vh;
}
.synthSun {
  width: calc(40px * var(--pxDensity));
  height: auto;
  aspect-ratio: 1 / 1;
  image-rendering: pixelated;
  position: absolute;
  top: round(60%, var(--pxDensityPx));
  left: round(50%, var(--pxDensityPx));
  transform: translate(-50%, -50%);
}
#starNoise {
  position: absolute;
  top: 0%;
  left: 0%;
  width: calc(512px * var(--pxDensity));
  height: auto;
  aspect-ratio: 1 / 1;
  image-rendering: pixelated;
  transform: translate(-50%, -50%);
}
#mainDiv {
  overflow: hidden;
  width: 100wv;
  height: 100vh;
}
.bgGradient {
  image-rendering: pixelated;
  width: calc(256px * var(--pxDensity));
  height: calc(164px * var(--pxDensity));
  aspect-ratio: auto;
  position: absolute;
  top: round(50%, var(--pxDensityPx));
  left: round(50%, var(--pxDensityPx));
  transform: translate(-50%, -50%);
}
#synthwaveCanvas {
  position: absolute;
  top: round(0%, var(--pxDensityPx));
  left: round(0%, var(--pxDensityPx));
}