body {
  height: 100vh;
  background-color: #323232;
  overflow: hidden;
  margin: 0%;
}
.synthSun {
  width: calc(40px * var(--pxDensity));
  height: auto;
  aspect-ratio: 1 / 1;
  image-rendering: pixelated;
  position: absolute;
  top: round(60%, var(--pxDensityPx));
  left: round(50%, var(--pxDensityPx));
  transform: translate(-50%, -50%);
  filter: drop-shadow(0px 0px 100px #C1AB00)
}
#starNoise {
  position: fixed;
  width: calc(512px * var(--pxDensity));
  height: auto;
  aspect-ratio: 1 / 1;
  image-rendering: pixelated;
  transform: translate(-50%, -50%);
}
#mainDiv {
  background-position: 0% 10vh;
  background-image: radial-gradient(
                    circle at center 50%, 
                    #62007f 0%, 
                    #0d0035 100%);
  height: 100vh;
}