#optionsContainer {
  display: block;
  margin: calc(2px * var(--pxDensity)) auto 0% auto;
  width: max-content;
  height: auto;
  padding: calc(2px * var(--pxDensity));
  overflow-y: scroll;
  max-width: min(600px, 100vw);
  max-height: 40vh;
  flex-grow: 1;
  font-size: min(1.5rem, calc(4px * var(--pxDensity)));
}
.optionsCredits {
  margin: 0%;
  max-width: calc(100% - (4px * var(--pxDensity)));
}
label {
  background-color: var(--navBarBtn_Inner);
  box-shadow: calc(1px * var(--pxDensity)) 0px var(--navBarBtn_Border),
              calc(-1px * var(--pxDensity)) 0px var(--navBarBtn_Border),
              0px calc(1px * var(--pxDensity)) var(--navBarBtn_Border),
              0px calc(-1px * var(--pxDensity)) var(--navBarBtn_Border);

  padding: calc(1px * var(--pxDensity));
  margin: calc(3px * var(--pxDensity)) calc(3px * var(--pxDensity)) 0% 0%;
  box-sizing: border-box;
  width: round(auto, var(--pxDensity));
  height: calc(6px * var(--pxDensity));
}
input {
  font-family: "Roboto", sans-serif;
  background-color: var(--navBarBtn_Inner);
  box-shadow: calc(1px * var(--pxDensity)) 0px var(--navBarBtn_Border),
              calc(-1px * var(--pxDensity)) 0px var(--navBarBtn_Border),
              0px calc(1px * var(--pxDensity)) var(--navBarBtn_Border),
              0px calc(-1px * var(--pxDensity)) var(--navBarBtn_Border);

  padding: calc(1px * var(--pxDensity));
  border: none;
  font-size: inherit;
  margin: calc(3px * var(--pxDensity)) calc(2px * var(--pxDensity)) 0% 0%;
  box-sizing: border-box;
  /* width: round(auto, var(--pxDensity)); */
  width: 50%;
  height: calc(6px * var(--pxDensity));
  color: inherit;
  display: inline-block;
}
.slider { /* its slightly offset down >:( */
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--navBarBtn_Border);
  box-shadow: none;
  filter: none;
  border: none;
  font-size: inherit;
  box-sizing: border-box;
  width: 100%;
  height: calc(1px * var(--pxDensity));
  margin: 0%;
  outline: none;
  padding: 0%;
} 
.slider::-webkit-slider-thumb, .slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--navBar_Inner);
  border: none;
  cursor: pointer;
  border-radius: 0%;
  width: calc(3px * var(--pxDensity));
  height: calc(3px * var(--pxDensity));
}
.sliderDiv {
  display: inline-block;
  background-color: var(--navBarBtn_Inner);
  box-shadow: calc(1px * var(--pxDensity)) 0px var(--navBarBtn_Border),
              calc(-1px * var(--pxDensity)) 0px var(--navBarBtn_Border),
              0px calc(1px * var(--pxDensity)) var(--navBarBtn_Border),
              0px calc(-1px * var(--pxDensity)) var(--navBarBtn_Border);

  padding: calc(1px * var(--pxDensity));
  border: none;
  font-size: inherit;
  margin: calc(3px * var(--pxDensity)) calc(2px * var(--pxDensity)) 0% 0%;
  box-sizing: border-box;
  width: 50%;
  height: calc(6px * var(--pxDensity));
  color: inherit;
  align-items: center;
  display: flex;
}
#sillyNumberValue {
  display: inline;
  background-color: var(--navBarBtn_Inner);
  box-shadow: calc(1px * var(--pxDensity)) 0px var(--navBarBtn_Border),
              calc(-1px * var(--pxDensity)) 0px var(--navBarBtn_Border),
              0px calc(1px * var(--pxDensity)) var(--navBarBtn_Border),
              0px calc(-1px * var(--pxDensity)) var(--navBarBtn_Border);

  padding: calc(1px * var(--pxDensity));
  border: none;
  font-size: inherit;
  margin: calc(3px * var(--pxDensity)) calc(3px * var(--pxDensity)) 0% 0%;
  box-sizing: border-box;
  width: round(auto, var(--pxDensity));
  height: calc(6px * var(--pxDensity));;
  aspect-ratio: 1 / 1;
}
h1 {
  background-color: var(--navBarBtn_Inner);
  box-shadow: calc(1px * var(--pxDensity)) 0px var(--navBarBtn_Border),
              calc(-1px * var(--pxDensity)) 0px var(--navBarBtn_Border),
              0px calc(1px * var(--pxDensity)) var(--navBarBtn_Border),
              0px calc(-1px * var(--pxDensity)) var(--navBarBtn_Border);

  padding: calc(1px * var(--pxDensity));
  border: none;
  margin: calc(6px * var(--pxDensity)) calc(2px * var(--pxDensity)) 0% 0%;
  box-sizing: border-box;
  width: round(auto, var(--pxDensity));
  height: round(auto, var(--pxDensity));
  color: inherit;
  font-size: inherit;
  display: inline-block;
}
.h1Top {
  margin-top: 0%;
}
select {
  background-color: var(--navBarBtn_Inner);
  box-shadow: calc(1px * var(--pxDensity)) 0px var(--navBarBtn_Border),
              calc(-1px * var(--pxDensity)) 0px var(--navBarBtn_Border),
              0px calc(1px * var(--pxDensity)) var(--navBarBtn_Border),
              0px calc(-1px * var(--pxDensity)) var(--navBarBtn_Border);

  padding: calc(1px * var(--pxDensity));
  border: none;
  font-size: inherit;
  margin: calc(3px * var(--pxDensity)) calc(2px * var(--pxDensity)) 0% 0%;
  box-sizing: border-box;
  /* width: round(auto, var(--pxDensity)); */
  width: 50%;
  height: round(auto, var(--pxDensity));
  color: inherit;
  display: inline-block;
}
input[type=file] {
  /* height: max-content;
  aspect-ratio: 1 / 1;
  width: auto;
  overflow: hidden; */
  display: none;
}
#picInput {
  margin-right: calc(3px * var(--pxDensity));
}
#picUploadLabel {
  height: calc(6px * var(--pxDensity));
  aspect-ratio: 1 / 1;
  width: auto;
  background-image: url(/assets/icons/upload.svg);
  display: inline-flex;
}
#picUploadIcon {
  height: calc(4px * var(--pxDensity));
  aspect-ratio: 1 / 1;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}
form {
  display: inline-block;
}
#generateButton {
  background-color: var(--navBarBtn_Inner);
  box-shadow: calc(1px * var(--pxDensity)) 0px var(--navBarBtn_Border),
              calc(-1px * var(--pxDensity)) 0px var(--navBarBtn_Border),
              0px calc(1px * var(--pxDensity)) var(--navBarBtn_Border),
              0px calc(-1px * var(--pxDensity)) var(--navBarBtn_Border);

  /* padding: calc(1px * var(--pxDensity)); */
  border: none;
  margin: calc(6px * var(--pxDensity)) calc(2px * var(--pxDensity)) 0% 0%;
  box-sizing: border-box;
  width: calc(100% - (4px * var(--pxDensity)));
  height: calc(6px * var(--pxDensity));
  display: inline-flex;
  justify-content: center;
}
.generateButtonIcon {
  height: calc(4px * var(--pxDensity));
  aspect-ratio: 1 / 1;
  width: auto;
  display: inline-block;
  margin: auto 0%;
}
.paramContainer {
  display: flex;
  align-items: center;
}
