.allContainer {
  display: flex;
  flex-direction: column;
  height: calc(100vh - calc(25px * var(--pxDensity)));
}
.blackBorderRect {
  background-color: #FFFFFF;
  border: 10px #000000 solid;
  border-radius: 32px;
  color: #000000;
}
a {
  cursor: pointer;
  color: #3333EE;
  text-decoration: underline;
  font-weight: normal;
}
a:visited {
  color: #551A8B;
}
.mainDiv {
  text-align: center;
}